.custom-modal {
   position: fixed;
   width: 100vw;
   height: 100vh;
   left: 0;
   top: 0;
   display: none;
   justify-content: center;
   align-items: center;
   background: #00000040;
}

.show-modal {
   display: flex;
}

.modal-content {
   max-width: 500px;
   padding: 50px;
   margin: 0 20px;
   background-color: #eff8ff;
   border-radius: 20px;
   position: relative;
}

.close-modal {
   position: absolute;
   top: 15px;
   right: 20px;
   cursor: pointer;
}

.close-modal img,
.close-modal svg {
   width: 24px;
   height: 24px;
   transition: .3s;
}

.close-modal img:hover,
.close-modal svg:hover {
   transform: rotate(90deg);
}