* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

.builds {
   position: relative;
   padding: 20px;
}

.svg-builds {
   max-height: 95vh;
   width: 100%;
}

.svg-builds path {
   stroke: #03c4ff00;
   fill: #03c4ff00;
   cursor: pointer;
   transition: .4s;
}

.svg-builds path:hover {
   stroke: #05FFFF;
   fill: #05FFFF;
   fill-opacity: .3;
   stroke-width: 3;
}

.svg-builds .sold {
   stroke: #fb0000;
   fill: #d104045c;
   transition: .4s;
   cursor: no-drop;
}

.svg-builds .sold:hover {
   stroke: #fb0000;
   fill: #d10404a1;
   fill-opacity: 1;
   stroke-opacity: 1;
}

.build-info {
   position: absolute;
   padding: 32px;
   left: 50%;
   bottom: 30px;
   transform: translate(-50%, 0);
}

.build-1 {
   left: 30px;
   transform: translate(0);
}

.modal-content {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.modal-content h3 {
   margin-bottom: 15px;
}

@media screen and (max-width: 991px) {
   .build-nav {
      margin-bottom: 20px;
   }

   .build-info {
      position: static;
      transform: translate(0, 0);
      max-width: 370px;
      margin: 0 auto;
   }
}