* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #eff8ff;
}

li {
   list-style: none;
}

.builds {
   position: relative;
   padding: 20px;
}

.svg-builds {
   max-height: 95vh;
   width: 100%;
}

.svg-builds path {
   stroke: #03c4ff00;
   fill: #03c4ff00;
   cursor: pointer;
   transition: .4s;
}

.svg-builds path:hover {
   stroke: #05FFFF;
   fill: #05FFFF;
   fill-opacity: .3;
   stroke-width: 3;
}

.svg-builds .sold {
   stroke: #fb0000;
   fill: #d104045c;
   transition: .4s;
   cursor: no-drop;
}

.svg-builds .sold:hover {
   stroke: #fb0000;
   fill: #d10404a1;
   fill-opacity: 1;
   stroke-opacity: 1;
}

.build-info {
   position: absolute;
   padding: 32px;
   left: 50%;
   bottom: 30px;
   transform: translate(-50%, 0);
}

.build-1 {
   left: 30px;
   transform: translate(0);
}

.modal-content {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
}

.modal-content h3 {
   margin-bottom: 15px;
}

/* Flat */

.floor-1 {
   padding: 20px;
}

.flat-info {
   display: flex;
   justify-content: space-evenly;
   border: 1px solid #000;
   padding: 30px;
   margin-bottom: 15px;
}

.flat-item {
   border: 1px solid #000;
   padding: 10px;
   text-align: center;
}

.flat {
   cursor: pointer;
   stroke: #04ff0000;
   fill: #04ff0000;
}

.status-border {
   fill: white;
   stroke: black;
   stroke-width: 2px;
}

.flat .status-cell {
   fill: #05ffff60;
}

.flat:hover .flat-path {
   stroke: #05ffff80;
   fill: #05ffff60;
}

.flat.sold .status-cell {
   fill: #D34E4E;
}

.sold:hover .flat-path {
   cursor: no-drop;
   stroke: #fb0000;
   fill: #d1040483;
}

.flat.reservation .status-cell {
   fill: #6B68FF;
}

.reservation:hover .flat-path {
   cursor: no-drop;
   stroke: #6B68FF;
   fill: #6b68ff80;
}

.flat.action .status-cell {
   fill: #04ff0070;
}

.action:hover .flat-path {
   stroke: #05FF00;
   fill: #04ff0070;
}

.flat-text {
   font-size: 16px;
   font-weight: bold;
   letter-spacing: 0em;
   white-space: "pre";
   font-family: Inter;
   fill: black;
}

@media screen and (max-width: 991px) {
   .build-nav {
      margin-bottom: 20px;
   }

   .build-info {
      position: static;
      transform: translate(0, 0);
      max-width: 370px;
      margin: 0 auto;
   }

   .flat-info {
      flex-direction: column;
      gap: 10px;
   }
}